{% extends extends %}
{% load tools %}
{% block content %}
<div class="container">
  <h1 class="padding50 text-center">{{ page_title }}</h1>
  <div class="text-center">
    <div class="row">
      {% for category in categories %}
      {% if forloop.counter0 != 0 and forloop.counter0|mod:4 %}
    </div><div class="row">
      {% endif %}
      <div class="col-md-3">
        <a href="{{ category.url }}" class="gallery-category">
          <figure>
            <img src="{{ category.image }}" alt="{{ category.title }}" class="img-responsive" />
	        {% if LANGUAGE_CODE != 'en' %}
            <figcaption class="btn btn-main btn-xl btn-block btn-lines">
              {{ category.title }}
            </figcaption>
          {% endif %}
        </a><br><br>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
