{% load i18n %}
<div class="text-center fontx1-5">
  {% if h1_page_title %}
  <h1 class="padding20">
    {{ h1_page_title }}
    <small>
      {% endif %}
      {% if current == 'areaitem_list' %}
      <a href="/areas/" class="a-nodifference padding20" style="display: inline-block;">
        <i class="flaticon-back"></i>
        {% trans 'Areas' %}
      </a>
      {% endif %}
      <a href="/gallery/" class="a-nodifference padding20" style="display: inline-block;">
        <i class="flaticon-back"></i>
        {% trans 'Gallery' %}
      </a>
      {% if h1_page_title %}
    </small>
  </h1>
  {% endif %}
</div>
