{% with card=item %}
{% if view == 'chibis' and card.cached_chibis %}
<a href="{{ card.item_url }}" data-ajax-url="{{ card.ajax_item_url}}" data-ajax-title="{{ card }}" class="panel panel-{{ card.english_attribute }} text-center" style="display: block;">
  <div class="panel-heading">{{ card }}</div>
  <div class="panel-content padding20"><div>{% for chibi in card.cached_chibis %}<img src="{{ chibi.image_url }}" alt="chibi" width="33%" />{% endfor %}</div></div>
</a>
{% elif view == 'icons' %}
<a href="{{ card.item_url }}" data-ajax-url="{{ card.ajax_item_url}}" data-ajax-title="{{ card }}">
  <img src="{{ card.image_url }}" width="100%" class="card-solo" {% if card.image_trained %}data-trained="{{ card.image_trained_url }}"{% endif %} /><br /><br />
</a>
{% elif view == 'art' or view == 'art_trained' %}
<a href="{{ card.item_url }}" data-ajax-url="{{ card.ajax_item_url}}" data-ajax-title="{{ card }}" class="panel panel-{{ card.english_attribute }} text-center" style="display: block;">
  <div class="panel-heading">{{ card }}</div>
  <div class="panel-content"><img src="{% if view == 'art' or not card.art_trained_url %}{{ card.art_url }}{% else %}{{ card.art_trained_url }}{% endif %}" width="100%" class="card-solo" {% if card.art_trained %}data-trained="{% if view == 'art' %}{{ card.art_trained_url }}{% else %}{{ card.art_url }}{% endif %}"{% endif %} /></div>
</a>
{% elif view == 'transparent' %}
<a href="{{ card.item_url }}" data-ajax-url="{{ card.ajax_item_url}}" data-ajax-title="{{ card }}" class="panel panel-{{ card.english_attribute }} text-center" style="display: block;">
  <div class="panel-heading">{{ card }}</div>
  <div class="panel-content"><img src="{{ card.transparent_url }}" width="50%" />{% if card.transparent_trained %}<img src="{{ card.transparent_trained_url }}" width="50%" />{% endif %}</div>
</a>
{% else %}
<div class="card-wrapper{% if card.trainable %} trainable{% endif %}">
  <{% if current == 'card_item_ajax' %}span{% else %}a href="{% if current == 'card_item' %}#card-details-{{ card.id }}{% else %}{{ card.item_url }}{% endif %}"{% if current != 'card_item' %} data-ajax-url="{{ card.ajax_item_url}}" data-ajax-title="{{ card }}"{% endif %}{% endif %} class="card card-{{ card.english_attribute }} card-rarity-{{ card.i_rarity }}{% if card.trainable %} trainable{% endif %}{% if current == 'card_item' %} page-scroll{% endif %}">
    <figure><div class="card-image normal" style="background-image: url('{{ card.art_url }}');">
      </div>{% if card.trainable %}<div class="card-image trained" style="background-image: url('{{ card.art_trained_url }}');">
      </div>{% endif %}</figure>
    <h2 class="member-name{% if LANGUAGE_CODE == 'ja' %} japanese{% endif %}">{% if LANGUAGE_CODE == 'ja' %}{{ card.cached_member.japanese_name }}{% else %}{{ card.cached_member.name }}{% endif %}</h2>
    <div class="rarity" style="background-image: url('{{ static_url }}img/rarity/{{ card.i_rarity }}.png');"></div>
    <div class="attribute" style="background-image: url('{{ static_url }}img/i_attribute/{{ card.i_attribute }}.png');"></div>
  </{% if current == 'card_item_ajax' %}span{% else %}a{% endif %}>
</div>
{% endif %}
{% if current == 'card_item' or current == 'card_item_ajax' %}
{% load l10n %}
<div class="card-details" id="card-details-{{ card.id }}">
  <div class="card-statistics">
    <div class="btn-group" data-toggle="buttons" data-control-tabs="card-{{ card.id }}">
      {% for status, localized in card.statuses %}
      <label class="btn btn-{{ card.english_attribute }}{% if status == 'max' %} active{% endif %}" style="width: {% if card.trainable %}33.333333333%{% else %}50%{% endif %}" data-open-tab="card-{{ card.id }}-{{ status }}">
	<input type="radio"{% if status == 'max' %} checked{% endif %}> {{ localized }}
      </label>
      {% endfor %}
    </div>
    <div class="tab-content" data-tabs="card-{{ card.id }}">
      {% for status, stats in card.stats_percent %}
      <div class="tab-pane{% if status == 'max' %} active{% endif %}" data-tab="card-{{ card.id }}-{{ status }}">
	{% for field, localized, value, max, percent in stats %}
	<div class="row">
	  <div class="col-xs-4">{{ localized }}</div>
	  <div class="col-xs-2 text-right">{{ value }}</div>
	  <div class="col-xs-6">
	    <div class="progress">
	      <div class="progress-bar progress-bar-{{ card.english_attribute }} progress-bar-rarity-{{ card.i_rarity }} progress-bar-striped"
		   role="progressbar"
		   style="width: {% localize off %}{{ percent }}{% endlocalize %}%;">
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endwith %}
