{% with eventparticipation=item %}
<div class="row">
  <div class="col-md-1 text-center">
    {% if not eventparticipation.ranking %}
    ??
    {% elif eventparticipation.ranking <= 3 %}
    <img src="{{ eventparticipation.ranking_image_url }}" alt="{{ eventparticipation.ranking }}" style="z-index: 1000; position: relative;" />
    {% else %}
    <span>#{{ eventparticipation.ranking }}</span>
    {% endif %}
  </div>
  <div class="col-md-1">
    <a href="{{ eventparticipation.account.cached_owner.item_url }}">
      {% include 'include/avatar.html' with av_user=eventparticipation.account.cached_owner av_size=20 av_image_size=60 av_fixed=True %}
    </a>
  </div>
  <div class="col-md-3">
    <div class="pull-right">
      <img src="{{ eventparticipation.account.version_image_url }}" alt="{{ eventparticipation.account.version }}" width="20">
    </div>
    <h3 style="margin: 0">
      {{ eventparticipation.account.nickname|default_if_none:eventparticipation.account.cached_owner.username }}
      <small>{{ eventparticipation.account.level|default_if_none:"" }}</small>
    </h3>
  </div>
  <div class="col-md-{% if eventparticipation.screenshot %}4{% else %}6{% endif %}">
    {% for field, details in eventparticipation.leaderboard_details %}
    <div style="display: inline-block; padding: 0 20px; padding-bottom: 10px;" class="text-center">
      <small class="text-muted"><i class="flaticon-{{ details.icon }}"></i> {{ details.verbose_name }}</small><br>
      <strong>
        {% if details.value == True %}<i class="flaticon-checked text-success"></i>
        {% elif details.value == False %}<i class="flaticon-delete text-danger"></i>
        {% else %}{{ details.value }}{% endif %}
      </strong>
    </div>
    {% endfor %}
  </div>
  {% if eventparticipation.screenshot %}
  <div class="col-md-2">
    <a href="{{ eventparticipation.screenshot_url }}" target="_blank">
      <img src="{{ eventparticipation.screenshot_thumbnail_url }}" alt="{{ eventparticipation }}" class="img-responsive">
    </a>
  </div>
  {% endif %}
  <div class="col-md-1">
    {% include 'include/below_item.html' with buttons_only=True show_item_buttons=True %}
  </div>
</div>
<hr>
{% endwith %}
