{% with member=item %}
{% if not show_search_results and not ajax %}
{% if forloop.counter == 1 or forloop.counter == 6 or forloop.counter == 11 or forloop.counter == 16 or forloop.counter == 21 %}
<div class="visible-xs visible-sm">
  {% if forloop.counter != 1 %}<br><br><hr>{% endif %}
  <img src="{{ member.band_image }}" alt="{{ member.band }}" class="img-responsive">
</div>
{% endif %}
{% if forloop.counter == 3 or forloop.counter == 8 or forloop.counter == 13 or forloop.counter == 18 or forloop.counter == 23 %}
<img src="{{ member.band_image }}" alt="{{ member.band }}" height="100" style="margin-left: 50%; transform: translateX(-50%); overflow: visible;" class="hidden-xs hidden-sm">
{% else %}
<div style="height: 100px" class="hidden-xs hidden-sm"></div>
{% endif %}
{% endif %}
<a href="{{ member.item_url }}" data-ajax-url="{{ member.ajax_item_url }}" data-ajax-title="{{ member }}" class="member">
  <img src="{{ member.image_url }}" alt="{{ member }}">
  <h3>{{ member }}</h3>
</a>
{% endwith %}
